body {
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

.header {
    background-color: #0a364100;
    padding: 20px 0;
}

.header-logo img {
    display: block;
    margin: auto;
    max-width: 200px;
}

h1 {
    font-size: 36px;
    color: #0a3641;
    margin-top: 40px;
}

h2 {
    font-size: 28px;
    color: #333;
}

h3 {
    font-size: 22px;
    color: #666;
    margin-top: 10px;
}

.p-success {
    font-size: 18px;
    color: #444;
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.5;
}

.footer {
    background-color: #ffffff00;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 40px;
}

.footer-logo {
    max-width: 150px;
}
