main {
    display: flex;
    justify-content: space-around;
  }
  
  section {
    padding: 20px;
    background-color: lightblue;
  }
h1, h2{ 
    color: seagreen;

}
.mix{
    color: red;
}
#mm{
    color: blue;
}
#iii{
    color: rgb(255, 22, 255);
    height:auto;
    background-color: blanchedalmond;
    width: 30%;
    margin: auto;
}
#bordercolor{
    border: 2px solid rgb(246, 23, 160);
    width: auto;
    height: 10;
background: #27bd61;
}
#hhh{
    border: 2px solid rgb(246, 23, 160);
    width: min-content;
    height: 10 px;
background: #f4000052;
}
.diven{
    border: 2px solid rgb(23, 246, 123);
    background-color: rgb(159, 159, 222);
   width: 400px;
    height: 300px;
    border-radius: 70px 0px 70px 50px;
  line-height: 50px;
  text-shadow: 2px 2px 5px red,
  -5px -5px 1px yellow,
    5px 5px 1px green;
}
.divto{
        border: 2px solid rgb(246, 239, 23);
        background-color: red;
        width: 300px;
        height: 300px;
        border-radius: 150px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: wavy underline overline rgb(241, 241, 241);
        text-align:center;
        box-shadow: 10px 10px 5px 5px rgba(130, 74, 74, 0.75) inset,
        -10px -10px 5px 5px rgba(147, 93, 93, 0.75) inset;
        white-space: pre-line;
    }
    .divtre{
        background-color: rgb(254, 240, 32);
        width: 300px;
    }
    .float {
        margin: 10px;
        float: right;
        height: 150px;
      }
      
      .clear {
        clear: right;
      }
      
      div {
        border: 1px solid black;
      }
      
      .clearfix::after {
        clear: both;
        content: '';
        display: table;
      }
      .sticky-position {
        position: sticky;
        top: 20px;
        background: lightblue;
        padding: 10px;
      }
      
      .container {
        height: 500px;
      }
      .one {
        z-index: 2;
        background: lightblue;
        padding: 20px;
        width: 200px;
        position: relative;
      }
      
      .two {
        z-index: 1;
        background: lightgreen;
        padding: 20px;
        width: 200px;
        position: absolute;
        top: 40px;
        left: 40px;
      }
      
      .container {
        position: relative;
        height: 100px;
      }
      .containerr {
        display: flex;
      }.item {
        margin: 5px;
      }
      .containerrr {
        display: flex;
      }
      
      .itemm {
        margin: 5px;
        flex: 1;
      }
      
      .wider-item {
        flex: 4;
      }
      .containerrrr {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: 10px;
        min-height: 400px;
      }
      
      .containerrrr div {
        background: rgb(122, 84, 203);
      }
      .ball {
        animation-name: bounce;
        animation-duration: 5s;
        position: relative;
        top: 300px;
        height: 50px;
        width: 50px;
        background: red;
        border-radius: 50%;
      }
      
      @keyframes bounce {
        0% {
          top: 300px;
        }
        50% {
          top: 0px;
        }
        100% {
          top: 300px;
        }
      }
      .balll {
        transition-property: background;
        transition-duration: 2s;
        height: 50px;
        width: 50px;
        background: red;
        border-radius: 50%;
      }
      
      .balll:hover {
        background: blue;
      }